.main-container {
      display: flex;
      justify-content: flex-start;
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
}

.main-container > .container-for-sidebar {
      position: fixed;
	left: 0;
      z-index: 100;
      
      /* border: 1px solid red; */
      width: 18%;
      height: 100%;
      background-color: #313131;
}

.main-container > .container-for-main-body {
      left: 18%;
      position:relative;
      width: 82%;
      padding: 1% 6%;
}