.form-container {
	background-color: #eaf5f2;
	color: #575153;
	height: 100vh;
	padding-top: 30px;
}

.form-header {
	background-color: #9e4f8f;
	color: white;
}

.signup-btn {
	width: 70%;
	margin: auto;
	height: 45px;
	border-color: transparent;
	cursor: pointer;
}
.signup-btn button {
	background-color: #9e4f8f;
	color: white;
	font-size: 1em;
	font-weight: 700;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	transition: ease-in-out 0.3s;
}
.signup-btn button:hover {
	background-color: #974187;
	transition: ease-in-out 0.3s;
}
