.side-bar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
}

.side-bar .logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 12%;
	width: 100%;
	background-color: #40844e;
}
.logo > :first-child {
	text-align: center;
	color: white;
	font-family: 'Roboto slab';
	font-size: 1.2rem;
	font-weight: 500;
}

.nav-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	height: 88%;
	padding: 50px 10px;
	color: #aaa;
}


.navigation-items {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.nav-item {
	margin-bottom: 30px;
	font-weight: 600;
}
.nav-item:hover {
	color: white;
}

.nav-item-icon {
	margin-right: 5px;
}

.logout > :first-child {
	font-weight: 700;
}
.logout > :first-child:hover {
	color: white;
}
.logout-icon {
	margin-right: 5px;
	color: #f2395a;
	rotate: 180deg;
	font-size: 1.1em;
}