<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="page">
        <div class="main-content">
            <div class="input">
                <input type="text" name="searchProfessionals" id="searchProfessionals">
                <!-- <label for="searchProfessionals">Search Professionals</label> -->
                <div class="categories">
                    <h3>Categories</h3>
                    <div class="slideable">
                        <a class="categoryItem" href="#">
                            <h5>Category Name</h5>
                        </a>
                        <a class="categoryItem" href="#">
                            <h5>Category Name</h5>
                        </a>
                        <a class="categoryItem" href="#">
                            <h5>Category Name</h5>
                        </a>
                        <a class="categoryItem" href="#">
                            <h5>Category Name</h5>
                        </a>
                        <a class="categoryItem" href="#">
                            <h5>Category Name</h5>
                        </a>
                    </div>
                </div>
                <div class="listAllProfessionals">
                    <div class="professional-card">
                        <img src="" alt="">
                        <div class="professionalDetails">
                            <h2 class="professionalName">Name</h2>
                            <p class="professionalTitle">Professional Title</p>
                        </div>
                        <!-- <a href="#" class="btn">Learn More</a> -->
                    </div>
                    <div class="professional-card">
                        <img src="" alt="">
                        <div class="professionalDetails">
                            <h2 class="professionalName">Name</h2>
                            <p class="professionalTitle">Professional Title</p>
                        </div>
                        <!-- <a href="#" class="btn">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="right-sidenav"></div>
    </div>
    
</body>
</html>