.hero-section {
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 30px 150px;
	height: 80vh;
	color: white;
	background-color: #40844e;
}

.hero-section-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
	width: 50%;
	padding-top: 5%;
}
.hero-section-content h1 {
	font-family: "Roboto Slab";
	font-weight: 700;
	font-size: 3.5em;
}
.hero-section-content p {
	font-size: 1.5em;
	font-weight: 500;
}

.hero-section-image {
	height: 100%;
	width: 50%;
}
.hero-section-image > :first-child {
	width: 100%;
	height: 100%;
}


/* Content Section */

.content-section {
	/* max-width: 960px; */
	/* display: flex; */
	color: #575153;
}
.content-section section {
      display: flex;
	flex-direction: column;
      justify-content: flex-start;
      height: 110vh;
      padding: 20px 10%;
}
.content-section section .section-title {
      padding-top: 20px;
	text-align: center;
	font-family: "Roboto Slab";
	font-size: 3em;
	font-weight: 700;
      /* background-color: #eaf5f2; */
}
.content-section section .section-body {
	display: flex;
	height: 100%;
}

.section-image, .section-content {
      height: 100%;
      width: 47%;
}

.section-image > :first-child {
      width: 100%;
	height: 90%;
}

.section-content {
      /* text-align: center; */
      padding-top: 30px;
}
.section-content h3 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
}
.section-content p {
      font-size: 1.5rem;
      line-height: 40px;
}

.section1, .section3 {
      background-color: #eaf5f2;
}