/* Navbar */
.navbar {
      position: sticky;
	top: 0;
      z-index: 100;

	display: flex;
	justify-content: space-between;
      align-items: center;
	height: 80px;
      padding: 0 30px;
	color: white;
	font-size: 1.3rem;
	font-weight: 500;
	background-color: #40844e;
	border-bottom: 1px solid #669d72;
}

/* Logo and Navigation items container */
.logo-and-nav-items-container {
	display: flex;
	width: 55%;
	justify-content: space-between;
      align-items: center;
}

.logo > :first-child {
	font-weight: 600 !important;
}

/* Navigation items */
.nav-items {
	display: flex;
      width: 70%;
	justify-content: space-evenly;
}
.nav-items span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 50px;
	text-align: center;
	cursor: pointer;
	transition: ease-in-out 0.3s;
}
.nav-items span:hover {
      background-color: #367042;
	border-radius: 50px;
	transition: ease-in-out 0.3s;
}


/* Signup and Login */
.signup-and-login {
      display: flex;
      width: 18%;
      justify-content: space-between;
}
.signup-and-login button {
      height: 45px;
      border-color: transparent;
      cursor: pointer;
}

.signup {
	background-color: #9e4f8f;
	color: white;
	font-size: 1em;
	font-weight: 700;
	width: 110px;
	border-radius: 50px;
	transition: ease-in-out 0.3s;
}
.signup:hover {
	background-color: #974187;
	transition: ease-in-out 0.3s;
}

.login {
	background-color: #fafafa;
	color: #1c5728;
	font-size: 1em;
	font-weight: 700;
	width: 110px;
	border-radius: 50px;
	transition: ease-in-out 0.3s;
}
.login:hover {
	background-color: #f1f1f1;
	color: #246d32;
	transition: ease-in-out 0.3s;
}
